<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">

    <default>

        <carriers>
            <temushipping>
                <active>1</active>
                <allowed_methods>temushipping</allowed_methods>
                <methods>temushipping</methods>
                <sallowspecific>0</sallowspecific>
                <model>M2E\Temu\Model\Magento\Shipping</model>
                <name>M2E Temu Connect Shipping</name>
                <title>M2E Temu Connect Shipping</title>
                <handling_type>F</handling_type>
            </temushipping>
        </carriers>

        <payment>
            <temupayment>
                <active>1</active>
                <model>M2E\Temu\Model\Magento\Payment</model>
                <order_status>pending</order_status>
                <title>M2E Temu Connect Payment</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </temupayment>
        </payment>

    </default>

</config>
