.Temu-system-config-fieldset .entry-edit-head {
    display: none;
}

.config-nav-block. strong {
    display: flex;
    align-items: center;
}

.config-nav-block.m2e-tab-temu strong:before {
    background: url(../../images/logo-temu.svg) no-repeat;
    width: 20px;
    height: 20px;
    background-size: cover;
    content: '';
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}
